@import "tailwindcss";

.loader {
  animation: loader infinite 3s;
  border-radius: 50%;
  border: solid #ccc 2px;
  border-top-color: #3498db;
  border-width: 4px;
  height: 30px;
  width: 30px;
  margin: 0 auto;
  position: absolute;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.centered {
  @apply flex items-center justify-center;
}
.sidebar-parent a {
  @apply hover:bg-[#DD88CF] block hover:text-white rounded-md text-center  text-[20px] w-full  py-1 duration-300;
}

.btn {
  @apply px-1 py-0.5 sm:px-2 sm:py-1 rounded-md
}